<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Staff Management</h3>
<p>
    <a th:href="@{/create}">
        Add new staff
    </a>
</p>
<table id = "staff">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Avatar</th>
        <th>Gender</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="staff : ${staff}">
        <td th:text="${staff.name}"></td>
        <td th:text="${staff.date}"></td>
        <td><img width="100" height="100" th:src="@{'/image/' + ${staff.avatar}}" alt=""></td>
        <td th:text="${staff.gender}"></td>
        <td><a th:href="@{/edit/{id}(id=${staff.getId()})}">Edit</a> </td>
        <td><a th:href="@{/delete/{id}(id=${staff.getId()})}">delete</a></td>
    </tr>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>